* {
    box-sizing: border-box;
}

body {
    background-color: rgb(234, 125, 249);
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 25px;
    text-align: center;
    background-color: rgb(245, 165, 255);
}

.header h1 {
    font-size: 35px;
}

.navigasi {
    background-color: rgb(248, 203, 254);
    overflow: hidden;
}

.navigasi a {
    color: black;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    float: left;
    border-radius: 25px;
}

.navigasi a:hover{
    background-color: aqua;
    color: black;
}

.left-column {
    float: left;
    width: 75%;
}

.right-column {
    float: right;
    background-color: rgb(234, 125, 249);
    width: 25%;
    padding-left: 20px;
}

.card {
    background-color: rgb(245, 165, 255);
    padding: 20px;
    margin-top: 20px;
}

.rowcontent::after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: rgb(248, 203, 254);
    margin-top: 20px;
}